@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    display: flex;
    align-content: center;
    flex-direction: column;
    font-family: 'Montserrat' sans-serif;
}

h1{
    background-color: black;
}

h2{
    background-color: blue;
}